# tmp file when hugo is running
.hugo_build.lock

# the default build folder of hugo
public/

# minified resources
resources/_gen/

# JS dependencies
node_modules/

# netlify CLI tmp folder
.netlify/

.idea/
