<meta
  name="description"
  content="With the Cobalt API, access Orgs, Assets, Pentests, Findings, and Events. Read how to use this penetration test API to improve your security positioning."
/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N446383SP1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-N446383SP1');
</script>

<!-- Additional styles -->
<!-- Cobaltify sidebar with blue color -->
<style>
.toc-wrapper {
  background-color: #0047ab;
}

.toc-wrapper > .search input {
  background-color: #0047ab;
}
</style>
